/*		margin-right: 10px;
	margin-left: 10px;/*

/* HEADER */
#navbar-custom {
	background-color: #BE8FF9;
}

.navbar-brand {
	font-weight: bold;
	color: black;
}

.nav-item {
	text-align: center;
}

.nav-item:hover {
	background-color: #98E6FC;
	font-weight: bold;
}



/* CONTENT */

h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: bold;
}

.box {
	float: left;
	margin-bottom: 20px;
}

.content-tile {
	background-color: #e8eaed;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
}

h3 {
 	font-weight: bold;
 	margin-bottom: 20px;
}

@media (min-width: 766px) {
	p {
	   	height: 700px;
	}
}





